<!DOCTYPE html>

<html>

<body style="background: #000;padding: 0;margin: 0">

    <div id="map" style="width:100%;height:100vh;background:#000"></div>
    <input type="text" hidden value="{{lat}}" id="lat" />

    <input type="text" hidden value="{{lon}}" id="lon" />

    <script>
        function myMap() {

            var mapCanvas = document.getElementById("map");
            var lat = document.getElementById("lat").value;
            var lon = document.getElementById("lon").value;
            var myCenter = new google.maps.LatLng(lat, lon);

            var mapOptions = { center: myCenter, zoom: 10, mapTypeId: google.maps.MapTypeId.HYBRID };

            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({

                position: myCenter,

                animation: google.maps.Animation.BOUNCE

            });

            marker.setMap(map);

        }

    </script>


    <!-- Add your google maps api key here for getting map location info -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCIrzS0EBAnRbPLzGxOTQ8Sz6-FMF8R68&callback=myMap"></script>



</body>

</html>